
.movie-card{
    display:flex;
    flex-direction: column;
    overflow-wrap:break-word;
    width: 200px;
    padding: 10px;
    max-height: 600px;
    border-radius:10px;
}
.movie-card:hover{
    cursor: pointer;
    outline:1px black solid;
    transform:scale(1.2);
    animation-name: popOut;
    animation-duration: .3s;
    background-color: rgb(250, 255, 208);
}

.movie-img{
    width: 200px;
    
}

@keyframes popOut {
    from{
        transform:scale(1)
    }
    to{
        transform:scale(1.2)
    }
}

